<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Author</key>
        <string>Taylor Fausak</string>

        <key>Builder Version</key>
        <string>8536.25</string>

        <key>CFBundleDisplayName</key>
        <string>Delay</string>

        <key>CFBundleIdentifier</key>
        <string>me.fausak.taylor.delay</string>

        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>

        <key>CFBundleShortVersionString</key>
        <string>1.0</string>

        <key>CFBundleVersion</key>
        <string>1</string>

        <key>Chrome</key>
        <dict>
            <key>Global Page</key>
            <string>delay.html</string>
        </dict>

        <key>Content</key>
        <dict>
            <key>Scripts</key>
            <dict>
                <key>Start</key>
                <array>
                    <string>start.js</string>
                </array>

                <key>End</key>
                <array>
                    <string>end.js</string>
                </array>
            </dict>
        </dict>

        <key>Description</key>
        <string>Delays the loading of time-wasting websites.</string>

        <key>ExtensionInfoDictionaryVersion</key>
        <string>1.0</string>

        <key>Permissions</key>
        <dict>
            <key>Website Access</key>
            <dict>
                <key>Level</key>
                <string>All</string>
            </dict>
        </dict>

        <key>Update Manifest URL</key>
        <string>https://github.com/tfausak/delay/blob/master/update-manifest.plist</string>

        <key>Website</key>
        <string>https://github.com/tfausak/delay</string>
    </dict>
</plist>
