<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>DefaultValue</key>
            <real>30</real>

            <key>Key</key>
            <string>delay</string>

            <key>MaximumValue</key>
            <real>60</real>

            <key>MinimumValue</key>
            <real>1</real>

            <key>Title</key>
            <string>Delay</string>

            <key>Type</key>
            <string>Slider</string>
        </dict>

        <dict>
            <key>DefaultValue</key>
            <real>5</real>

            <key>Key</key>
            <string>jitter</string>

            <key>MaximumValue</key>
            <real>10</real>

            <key>Title</key>
            <string>Jitter</string>

            <key>Type</key>
            <string>Slider</string>
        </dict>

        <dict>
            <key>DefaultValue</key>
            <string>news.ycombinator.com www.reddit.com</string>

            <key>Key</key>
            <string>blacklist</string>

            <key>Title</key>
            <string>Blacklist</string>

            <key>Type</key>
            <string>TextField</string>
        </dict>

        <dict>
            <key>DefaultValue</key>
            <true/>

            <key>Key</key>
            <string>timer</string>

            <key>Title</key>
            <string>Show timer</string>

            <key>Type</key>
            <string>CheckBox</string>
        </dict>
    </array>
</plist>
